* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: 'Streamzy', sans-serif;
    background-color: #FAF9F6;
    font-size: 11px;
}

/* start navbar */

nav {
    padding: 1px 1%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.web-logo {
    width: 80px;
    margin-top: 10px;
}

nav a {
    margin-left: 15px;
    text-decoration: none;
    color: black;
}

nav h1 {
    font-size: x-large;
}

nav ul {
    width: 100%;
    text-align: center;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;  
}

nav ul li a {
    color: black;
    text-decoration: none;
}

/* Dropdown Nav */

.maindrop {
    position: relative;
    display: inline-block;
}

.shop {
    padding: 10px;
    font-size: 11px;
    border: none;
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #FAF9F6; 
    min-width: auto;
    z-index: 1;
    left: -4.5px;
    top: 40px;
}

.sub-dropdown {
    margin-top: 40px;
}

.dropdown a {
    color: black;
    padding: 7px 15px;
    text-decoration: none;
    display: block;
    text-align: start;
}

.dropdown a:hover {
    background-color: white;
}

/* .maindrop:hover .dropdown {
    display: block;
} */

.show {
    display: block;
}

/* end navbar */

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 20px;
}

.imagemain {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
}

.stussypic {
    width: 100%;
    border-radius: 10px;
    opacity: 0.85;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: 0.4s ease-in-out;
    cursor: pointer; 
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* color: black; */
    text-align: center;
}

h1 {
    font-size: 35px;
}

.overlay p {
    font-size: 25px;
}

.imagemain:hover .overlay {
    opacity: 0.5;
}

/* end grid container */

footer {
    display: flex; 
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 20px;
    /* align-items: center; */
}

.footertext {
    display: flex;
}

.footericons {
    display: flex;
    justify-content: end;
    gap: 20px;
    padding-right: 30px;
    margin-top: 100px;
}

.logo {
    width: 13px;
}

/* end footer */


